@import "../../shared/colors/color.scss";
.card {
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    .card-header {
        background-color: $purple;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        .search-wrapper {
            background-color: #c56ece;
            padding: 0px 15px;
            border-radius: 10px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            .search-recepient {
                background-color: #c56ece;
                color: white;
                border: 0px;
                font-size: 0.9rem;
                padding: 0.375rem 12px;
                outline: none;
                width: 100%;
            }
            .search-recepient::placeholder {
                color: white;
            }
        }
    }
    .card-body {
        position: relative;
        .search-rec-wrapper{
            position: absolute;
            top: -20px;
            left: 0px;
            z-index: 100;
            background-color: #fef5ff;
            width: 100%;
            border-bottom-left-radius: 10px !important;
            border-bottom-right-radius: 10px i !important;
            box-shadow: 0px 6px 10px #e2e2e2;
            p{
                border-top: 1px solid #e9e9e9;
                cursor: pointer;
                font-size: 0.8rem;
                padding: 10px 20px;
                margin-bottom: 0px;
            }
        }
    }
}
.compose-section {
    margin: 30px 0px;
}
.preview-col {
    margin-top: 30px;
}
.preview {
    max-height: 400px;
    width: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 300px;
    .letter {
        background-image: url("../img/templates/1.jpg");
        background-size: cover;
        margin: 20px;
        border-radius: 8px;
        padding-bottom: 40px;
        max-height: 400px;
    }
    .preview-logo {
        height: 80px;
        width: 80px;
        display: block;
        margin: 0px auto;
        padding: 20px;
    }
    .envolope {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 120;
    }
    p {
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 30px;
        background-color: #ffffffe1;
        border-radius: 8px;
        overflow-y: hidden;
        font-size: 0.8rem;
        font-weight: 500;
    }
}
label {
    background-color: white;
    padding: 0px 5px;
}
.form-control {
    padding: 0.375rem 12px;
    border: 1px solid #d1d1d1;
}
.up {
    top: 8px;
    left: 15px;
}

.form-control[readonly] {
    background-color: white;
}
.form-group{
    margin-bottom: 30px;
}
.send-btn {
    background-color: $purple;
    border: 0px;
    border-radius: 6px;
    color: white;
    padding: 8px 16px;
    font-size: 0.8rem;
    font-weight: 600;
}
.template-bg {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    // box-shadow: 0px 3px 10px #b8b8b8;
    background-size: cover;
    margin-right: 10px;
}

.temp-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    padding: 20px 5px;
}
.temp1-bg {
    background-image: url("../img/templates/1.jpg");
}
.temp2-bg {
    background-image: url("../img/templates/2.jpg");
}
.temp3-bg {
    background-image: url("../img/templates/3.jpg");
}
.temp4-bg {
    background-image: url("../img/templates/4.jpg");
}
.temp5-bg {
    background-image: url("../img/templates/5.jpg");
}
.temp6-bg {
    background-image: url("../img/templates/6.jpg");
}
.temp7-bg {
    background-image: url("../img/templates/7.jpg");
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label .template-bg {
    height: 90px;
    width: 90px;
    box-shadow: 0px 3px 10px #a0a0a0;
}
@media (min-width: 768px) {

    label.down,
    label.up {
        font-weight: 400;
        font-size: 0.75rem;
    }
    .form-control {
        padding: 20px 12px;
    }
    .template-bg {
        margin-right: 15px;
    }
    .compose-section {
        margin-top: -40px;
    }
    .preview {
        max-height: 400px;
        max-height: 600px;
    }
    .preview-col {
        margin-top: 0px;
    }
    .down{
        top:12px;
    }
}
@media (min-width: 1440px) {
    .template-bg {
        margin-right: 20px;
    }
    .preview {
        min-height: 450px;
        max-height: 750px;
    }
}
