label {
    transition: all 0.3s ease-in-out;
    margin: 0px;
}
.up{
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 0.7rem;    
}
.down{
    position: absolute;
    top: 10.5px;
    left: 20px;
    color: #4c2b57;
    font-size: 0.7rem;    
}
.form-control{
    border-radius: 6px;
    background-color: unset;
    border:1px solid #30043d; 
    font-size: 0.9rem;
    padding: 1.1rem 12px;
    color: #323332;
}
.form-group{
    position: relative;
    margin-bottom: 20px;
}
.form-control:disabled{
    background-color:#f7f7f7
}
@media(min-width:1440px){
    .up{
        top: -3px;
        font-size: 0.9rem;
    }
    .down{
        top: 10px;
        font-size: 0.9rem;    
    }
    .form-control{
        padding: 20px 12px;
    }
}